body {
  background-color: rgb(139, 139, 139);
}

.App {
  text-align: center;
  color: rgba(233, 233, 71, 0.836);
}

#main {
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 7.5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

#game-grid {
  display: flex;
  justify-content: center;

}

/* #cells {
  width:50%;
} */

#information {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 5%;
  width: 50%;
}
